*{
    padding:0;
    margin:0;
    font-family:sans-serif;
}

header{
    position:fixed;
    left:0;
    right:0;
    top:0;
    background-color:#d9d9d9;
    display:flex;
    justify-content:space-between;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
    z-index:1000;
    padding:0px 4%;
    align-items:center;
}

.nav-bar ul{
    list-style: none;
}

.nav-bar li{
    position:relative;
    float:left;
}

.nav-bar ul li a{
    font-size:20px;
    padding:30px;
    text-decoration:none;
    display:block;
    color:#000;
}

.logo img{
    width:50%;
    padding:10px;
}

.logo{
    width:30%;
}

.nav-bar li a:hover{
    background:#93172F;
    color:#fff;
}

.nav-bar li ul{
    position:absolute;
    left:0;
    background:#d9d9d9;
    width:180px;
    display:none;
}

.nav-bar li:hover>ul{
    display:initial;
}

.nav-bar li ul li{
    width:100%;
    border-top:1px solid rgba(0,0,0,.1);
    
}

header label svg{
    height:20px;
    width:20px;
    display:none;
}

header #checky{
    display:none;
}

body{
    background-image:url(../images/Untitled.png);
    background-size:100% 100vh;
    background-repeat:no-repeat;
}

.home-info{
    height:fit-content;
    background-color:white;
    width:45%;
    margin-top:22vh;
    margin-left:10%;
    border-radius:20px;
}


.home-info h2{
    padding-top:70px;
    font-size:35px;
    padding-left:70px;
}

.home-info h3{
    /* padding-top:50px; */
    font-size:27px;
    padding-left:70px;
    color:#93172F;
    font-weight:900;
}

.home-para{
    font-size:24px;
    font-family: 'Inter', sans-serif;
    padding-left:70px;
    padding-top:20px;
    line-height:35px;
}

.btn-tutorials{
    /* float:right; */
    width:30%;
    margin-top:20px;
    margin-right:40px;
    height:5vh;
    background:#93172F;
    border:none;
    border-radius:20px;
    color:white;
    font-size:25px;
    font-weight:bold;
    margin-bottom:60px;
}

.btn{
    width:100%;
    text-align:right;
}
.home-tutorials-section{
    margin-top:320px;
}

.home-tutorials-section h2{
    font-size:45px;
    text-align:center;
    margin-bottom:30px;
}

.tut{
    width:20%;
    float:left;
    height:fit-content;
    /* border: 2.5px  solid #93172F; */
    text-align: center;
    margin-left:10%;
    margin-bottom:5vh;
    /* border-radius: 20px; */
    background-color:rgba(147,23,47,0.2);
    box-shadow:0 5px 10px rgba(0,0,0,.5);
    cursor:pointer;
}

.clear{
    clear:both;
}

.tut-icons svg{
    height:80px;
    width:80px;
    /* color:#fff;
    margin-top:30px;
    padding:35px;
    background-color:#93172F;
    border-radius:50%; */
}

.tut-icons{
    color:#fff;
    margin-top:30px;
    padding:15px 7px 15px 7px;
    width:30%;
    margin-left:auto;
    margin-right:auto;
    background-color:#93172F;
    border-radius:50%;
}



.tut-text{
    font-size:30px;
    margin-top:15px;
    font-weight:500;
}

.tut-extra{
    text-align:justify;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    font-size:18px;
    margin-top:15px;
    padding-bottom:30px;
}

.footer{
    background:#93172F;
    height:20vh;
}

.footer-image img{
    width:15%;
    height:70px;
    float:right;
}

.footer-image{
    margin-right:50px;
    padding-top:50px;
}

.footer-text{
    color:#ffffff;
    float:left;
    padding-top:30px;
    margin-left:40px;
    font-size:18px;
    font-weight:500;
}

.footer-text h3{
    font-size:35px;
}

@media(max-width:1400px){

    body{
        background-image:url(../images/Untitled.png);
        background-size:100% 100vh;
        background-repeat:no-repeat;
    }

    .home-info{
        height:fit-content;
        width:60%;
    }

    .tut{
        height:fit-content;
        width:30%;
        margin-left:14%;
        margin-bottom:10vh;
    }

    .tut-extra{
        margin-bottom:30px;
    }

    .home-tutorials-section{
        margin-top:200px;
    }

    .footer{
        height:30vh;
    }
    
    /* .home-info h2{
        font-size:30px;
    }

    .home-info h3{
        font-size:23px;
    } */

    .home-para{
        font-size:20px;
    }

    .nav-bar ul li a{
        font-size:17px;
        padding:20px 30px 20px 30px;
    }

    .home-tutorials-section{
        margin-top:200px;
    }

    /* .btn-tutorials{
        margin-bottom:30px;
        height:40px;
    } */
}

@media(max-width:991px){

    header label svg{
        display:initial;
    }

    header .nav-bar{
        width:100%;
        position:absolute;
        left:0;
        top:100%;
        right:0;
        background-color:#d9d9d9;
        border-top:1px solid rgba(0,0,0,.1);
        display:none;
    }
    
    header .nav-bar ul li{
        width:100%;
        text-align:center;
    }

    header .nav-bar ul li ul{
        position:relative;
        width:100%;
    }
    /* header{
        padding:20px;
    }

    header label svg{
        display:initial;
    }

    header .nav-bar{
        width:100%;
        position:absolute;
        left:0;
        top:100%;
        right:0;
        background-color:#d9d9d9;
        border-top:1px solid rgba(0,0,0,.1);
        display:none;
    }
    
    header .nav-bar ul li{
        width:100%;
        text-align:center;
    }

    header .nav-bar ul li ul{
        position:relative;
        width:100%;
    } */

    #checky:checked ~.nav-bar{
        display:block;
    }

    .logo img{
        width:130%;
    }

    .home-info{
        width:90%;
        margin-top:10vh;
        margin-left:1%;
        height:max-content;
    }

    .home-info h2{
        font-size:40px;
        padding-top:15px;
        padding-left:30px;
    }

    .home-info h3{
        font-size:22px;
        padding-left:30px;
    }

    .home-para{
        font-size:19px;
        padding-left:30px;
        line-height:25px;
        text-align:justify;
    }

    body{
        background:none;
        background-size:100% 100vh;
    }

    .btn-tutorials{
        float:left;
        margin-left:20px;
        width:50%;
        height:5vh;
        font-size:20px;
        border-radius:5px;
        box-shadow:0 10px 10px rgba(0,0,0,.6);
    }

    .tut{
        width:80%;
        float:none;
        /* min-height:25vh;
        max-height:70vh; */
        height:fit-content;
        border: 2.5px  solid #93172F;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:5vh;
        background-color:rgba(147,23,47,0.2);
        cursor:pointer;
    }

    .tut-text{
        font-size:25px;
    }

    .tut-extra{
        font-size:16px;
        padding-bottom:30px;
    }

    .tut-icons{
        border-radius:50%;
        padding:3vh 1.5% 3vh 1.5%;
        width:30%;
    }

    .tut-icons svg{
        height:8%;
        width:5.5vh;
    }

    .home-tutorials-section{
        margin-top:150px;
    }

    /* .footer{
        height:fit-content;
        text-align:center;
        bottom:0;
    }

    .footer-text{
        width:100%;
        float:none;
    }

    .footer-text{
        color:#ffffff;
        padding-top:30px;
        margin-left:0px;
        font-size:18px;
        font-weight:500;
    }
    
    .footer-image img{
        float: none;
        padding-top:0px;
        width:30%;
    }

    .footer-image{
        margin-right:0px;
        padding-top:30px;
    } */

        .footer{
        height:fit-content;
        text-align:center;
        bottom:0;
    }

    .footer-text{
        width:100%;
        float:none;
    }

    .footer-text{
        color:#ffffff;
        padding-top:15px;
        margin-left:0px;
        font-weight:500;
    }

    .footer-text h3{
        font-size:20px;
    }
    
    .footer-text p{
        font-size:14px;
    }

    .footer-image img{
        float: none;
        width:35%;
        height:5vh;
    }

    .footer-image{
        margin-right:0px;
        padding-top:10px;
    }

    .home-tutorials-section h2{
        font-size:30px;
    }
}


/* *{
    padding:0;
    margin:0;
    font-family:sans-serif;
}
.header{
    background-color:#d9d9d9;
    width:100%;
    height:13vh;
    text-align:center;
}
.header-links-list{
    padding-left:-400px;
}
.header-links{
    padding-top:80px;
    width:40%;
}

.header-list-items{
    display:inline-block;
}

.header-list-items a{
    padding-left:60px;
    text-decoration:none;
    font-size:20px;
    color:#000;
}

.header-list-items a:hover{
    text-decoration:underline;
    font-weight:550;
}

.main-logo{
    width: 368px;
    height:91px;
    padding-top:10px;
    padding-left:37px;
    float:left;
}

.header-links{
    float:left;
    margin-left:20px;
    width:60%;
}

body{
    background-image:url(../images/Untitled.png);
    background-size:100%;
    background-repeat:no-repeat;
}

.home-info{
    height:50vh;
    background-color:white;
    width:45%;
    margin-top:12vh;
    margin-left:10%;
    border-radius:20px;
}

.header-links{
    float:left;
    margin-left:20px;
    width:60%;
}

.home-info h2{
    padding-top:70px;
    font-size:35px;
    padding-left:70px;
}

.home-info h3{
    font-size:27px;
    padding-left:70px;
    color:#93172F;
    font-weight:900;
}

.home-para{
    font-size:24px;
    font-family: 'Inter', sans-serif;
    padding-left:70px;
    padding-top:20px;
    line-height:35px;
}

.btn-tutorials{
    float:right;
    width:30%;
    margin-top:20px;
    margin-right:40px;
    height:5vh;
    background:#93172F;
    border:none;
    border-radius:20px;
    color:white;
    font-size:25px;
    font-weight:bold;
}

.home-tutorials-section{
    margin-top:300px;
}

.home-tutorials-section h2{
    font-size:35px;
    text-align:center;
    margin-bottom:30px;
}

.tut{
    width:20%;
    float:left;
    height:35vh;
    border: 2.5px  solid #93172F;
    text-align: center;
    margin-left:10%;
    margin-bottom:5vh;
    border-radius: 20px;
    background-color:rgba(147,23,47,0.2);
    cursor:pointer;
}

.clear{
    clear:both;
}

.tut-icons svg{
    height:90px;
    width:90px;
    color:#93172F;
    margin-top:80px;
}

.tut-text{
    font-size:25px;
    font-weight:900;
    margin-top:15px;
}

.footer{
    background:#93172F;
    height:20vh;
}

.footer-image img{
    width:15%;
    height:70px;
    float:right;
}

.footer-image{
    margin-right:50px;
    padding-top:50px;
}

.footer-text{
    color:#ffffff;
    float:left;
    padding-top:30px;
    margin-left:40px;
    font-size:18px;
    font-weight:500;
}

.footer-text h3{
    font-size:35px;
} */